body {
  font-family: courier;
  background-color: #ecf2f9;
}

.jumbotron {
  background-color: #b3cce6;
}

h2, h3 {
  font-weight: bold;
}

p, li {
  font-family: sans-serif;
}

.special {
  font-weight: bold;
  font-style: italic;
  color: #538ac6;
}

a {
  font-color: #538ac6;
}

img {
  float: left;
  padding-right: 20px;
  padding-bottom: 30px;
}

.bio {
  margin-right: 30%;
  font-size: 14pt;
}

blockquote {
  float: right;
}
