body {
  font-family: courier;
  background-color: #ecf2f9;
}

.jumbotron {
  background-color: #b3cce6;
}

h2, h3 {
  font-weight: bold;
}

p, li {
  font-family: sans-serif;
}

.special {
  font-weight: bold;
  font-style: italic;
  color: #538ac6;
}

a {
  font-color: #538ac6;
}

img {
  padding-right: 20px;
  /* padding-bottom: 30px; */
  padding-top: 20px;
  padding-left: 30px;
  max-width: 250px;
  transform: rotate(90deg);
}

.bio {
  margin-right: 30%;
  font-size: 14pt;
}

blockquote {
  float: right;
}

#bioImg {
  float: left;
}

#horizontal {
  transform: rotate(360deg);
  padding: 0px;
  padding-left: 41px;
  max-width: 300px;
}

li:last-child {
  padding-bottom: 5px;
}
last-child {margin-bottom: 1em}
